version: '3'
services:
  mysql:
    image: mysql:5.7.22
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=root
  redis:
    image: redis:alpine
    ports:
      - 6379:6379
  sba:
    image: michayaak/spring-boot-admin:2.2.2
    ports:
      - 8080:8080