# This workflow will install dependencies, build Pyctuator, run tests (+coverage) and lint

name: build

on:
  push:
  pull_request:

jobs:
  run_image:
    runs-on: [ubuntu-18.04]
    container:
      image: matanrubin/python-poetry:3.7

    steps:
      - uses: actions/checkout@v2
      - run: cd ..
      - run: make bootstrap
      - run: poetry update -vvv
      - run: poetry build -vvv
      - run: poetry install --extras flask --extras fastapi --extras db --extras redis
      - run: make coverage
      - uses: actions/upload-artifact@v2
        with:
          name: htmlcov.zip
          path: htmlcov/
      - uses: codecov/codecov-action@v1

      # Install the extra psutil module and run linting+tests in the "psutil enabled" env
      - run: poetry install --extras psutil
      - run: make check
      - run: make test
